<div class="jumbotron bg-img">
  <app-navbar></app-navbar>
  <a style="text-decoration: none" href="#"
    ><h1 class="display-4">Project</h1></a
  >
  <p class="sub-heading">This project was bootstrapped with Angular.</p>
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">
      <img src="../assets/images/search.svg" style="width: 1rem" />
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="addon-wrapping"
    />
  </div>
</div>

<div class="card-wrap">
  <div *ngFor="let data of cardData">
    <app-card [parentData]="data"></app-card>
  </div>
</div>

<div class="container-fluid form-element">
  <img
    class="img-fluid rounded"
    style="max-width: 18rem; max-height: 24vw"
    src="../assets/images/js_logo.svg"
    alt=""
  />
  <app-form></app-form>
</div>

<footer>
  <div
    class="jumbotron"
    style="background-color: #037193; color: white; height: 15rem"
  >
    <ul class="list-unstyled footer">
      <li class="mb-4">
        <button class="ft-btn" type="submit" (click)="scrollToTop()">
          Home
        </button>
      </li>
      <li class="mb-4">
        <button
          type="submit"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="ft-btn"
        >
          Features
        </button>
      </li>
      <li class="mb-4">
        <button
          type="submit"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="ft-btn"
        >
          About
        </button>
      </li>
    </ul>
  </div>
</footer>

<app-modal></app-modal>
